@model Electronic_Bank.Models.Transaction

@{
	ViewData["Title"] = "Delete";
}


<div style="margin:50px">

	<h1>Delete</h1>

	<h3>Are you sure you want to delete this?</h3>
</div>


<body style="background: #f2edf3;">
	<div class="col-md-10  stretch-card text-center" style="margin-left: 104px;">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title text-white">Todo</h4>

				<div class="add-items d-flex">
					<div class="col-3">
						@Html.DisplayNameFor(model => model.WalletID)
					</div>
					<input disabled type="text" class="form-control todo-list-input" placeholder="Client Name " asp-for="WalletID" />

				</div>
				<div class="add-items d-flex">
					<div class="col-3">     @Html.DisplayNameFor(model => model.TransactionAmount)  </div>

					<input disabled class="form-control todo-list-input" placeholder="Client Address" asp-for="TransactionAmount" />

				</div>
				<div class="add-items d-flex">
					<div class="col-3">    @Html.DisplayNameFor(model => model.TransactionDate) </div>

					<input disabled class="form-control todo-list-input" placeholder="Client Phone Number" asp-for="TransactionDate" />
				</div>

				<div class="add-items d-flex">
					<div class="col-3">
						@Html.DisplayNameFor(model => model.TransactionDescription)
					</div>

					<input disabled class="form-control todo-list-input" placeholder="Client Phone Number" asp-for="TransactionDescription" />
				</div>

				<form asp-action="Delete">
					<input type="hidden" asp-for="TransactionID" />
					<input type="submit" value="Delete" class="btn btn-danger" /> |
					<a asp-action="Index" class="btn btn-secondary">Back to List</a>
				</form>

			</div>
		</div>
	</div>
</body>
