@model Electronic_Bank.Models.Transaction

@{
	ViewData["Title"] = "SendFailed";
}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Send Failed !</strong>  It looks like the amount you want to send is more than the wallet content or you entered a negative value
</div>